<router-outlet></router-outlet>

<lib-one-column-layout>
  <div class="header">1 column layout - This is the header</div>
  <div class="content"><ned-hello-world></ned-hello-world></div>
  <div class="footer">1 column layout - This is the footer</div>
</lib-one-column-layout>


<br>

<lib-two-column-layout>
  <div class="header">2 column layout - this is the header</div>
  <div class="content-left"><ned-sample1-lib></ned-sample1-lib></div>
  <div class="content-right"><ned-hello-world></ned-hello-world></div>
  <div class="footer">2 column layout - this is the footer</div>
<lib-two-column-layout>



